<div class="main">
    <mat-grid-list [cols]="size" rowHeight="2:1">
        <div *ngFor="let row of board; let i = index">
            <div *ngFor="let column of row; let j = index">
                <mat-grid-tile [id]="'board'+i+j" mat-button [matTooltip]="getTooltip(column)"
                    (mousedown)="handleClick(column)" (contextmenu)="handleRightClick(column, $event)"
                    (mouseenter)="handleMouseHover(column)">
                    <div class="grid-button">
                        <div class="grid-button-content" *ngIf="!board[i][j].isEmpty">
                            {{board[i][j]?.item?.name}}
                        </div>

                        <div class="grid-button-content" *ngIf="board[i][j].item?.moneyProduction">
                            <div>
                                <mat-progress-bar mode="determinate" [value]="board[i][j].remainingTimeBarValue">
                                </mat-progress-bar>
                            </div>
                        </div>

                        <div class="grid-button-content" *ngIf="board[i][j].item?.coolingPower">
                            <div>
                                <mat-progress-bar mode="determinate" [value]="board[i][j].remainingTimeBarValue">
                                </mat-progress-bar>
                                {{board[i][j]?.currentHeat}} / {{board[i][j]?.item?.maxHeat}}
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>
</div>