::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
    background-color: #555;
}

.selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.playerStats {
    background: url("../../../assets/images/stats-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tabs {
    background: url("../../../assets/images/tabs-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
