::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
    background-color: #555;
}

.selected {
    background-color: rgba(0,0,0,0.3);
}